body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon{
  margin-top: 8px;
  height: 50px;
  width: 50px;
}

.fjb{
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  margin-left: 15vw;
}

.bgc{
  background-color: rgb(9, 11, 20);
}

.fe{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mgn{
  margin-right: 40px;
  color: white;
}

.mgn-tp{
  margin-top: 23px;
  color: white;

}

.card{
  height: 30%;
  width: 20%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 2%;
  margin-top: 5%;
}

.cardImage{
  height: 150px;
  width: 100px;
}

.flr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

.cardsDiv{
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin-left: 15%;
  justify-content: space-between;
  align-content: space-between;
  align-self: center;
}

.flc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cardCart{
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
}